<form [formGroup]="fLogin" (ngSubmit)="submitAction()">
    <form-input Name="username" Label="Nom d'utilisateur" formControlName="username">
        <div *ngIf="Username.errors?.required">
            ERROR
        </div>
    </form-input>
    <form-input Name="password" Label="Mots de passe" formControlName="password"></form-input>
    <button type="submit">Se connecter</button>
</form>