<div class="input-field">
    <label [for]="Name + Id">{{ Label }}</label>
    <input [type]="Type" [value]="value" [name]="Name + Id" [id]="Id" (input)="onChange($event)">
    <ng-content></ng-content>
</div>